.perfil-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .perfil-perfil {
    width: 100%;
    height: 1667px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(32, 24, 42, 1) 0%, rgba(24, 43, 39, 1) 100%);
  }
  .perfil-contato {
    top: 1509px;
    left: 0px;
    width: 1922px;
    height: 158px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 1);
  }
  .perfil-contato1 {
    top: 14px;
    left: 1004px;
    width: 384px;
    height: 129px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .perfil-text {
    top: 49px;
    color: rgba(172, 172, 172, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Catamaran;
    font-weight: 400;
    line-height: 140.49999713897705%;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text05 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-cidade {
    top: 15px;
    left: 533px;
    width: 384px;
    height: 129px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .perfil-text07 {
    top: 49px;
    color: rgba(172, 172, 172, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: right;
    font-family: Catamaran;
    font-weight: 400;
    line-height: 140.49999713897705%;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text12 {
    left: 135px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: right;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text14 {
    top: 816px;
    left: 684px;
    color: rgba(255, 255, 255, 1);
    width: 566px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-pexelslaker57926411 {
    top: 416px;
    left: 807px;
    width: 306px;
    height: 316px;
    position: absolute;
    border-radius: 292px;
  }
  .perfil-text16 {
    top: 337px;
    left: 780px;
    color: rgba(255, 255, 255, 1);
    width: 375px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text18 {
    top: 255px;
    left: 853px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-navbar {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 171px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7900000214576721) 0%, rgba(0, 0, 0, 0) 100%, rgba(255, 0, 0, 0) 100%);
  }
  .perfil-text20 {
    top: 122px;
    left: 1075px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text22 {
    top: 122px;
    left: 883px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text24 {
    top: 122px;
    left: 758px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .perfil-text26 {
    top: 22px;
    left: 819px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 70px;
    font-style: Regular;
    text-align: left;
    font-family: Bebas Neue;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  