.post-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .post-postagem {
    width: 100%;
    height: 2367px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(24, 37, 33, 1) 0%, rgba(38, 34, 43, 1) 100%);
  }
  .post-contato {
    top: 2209px;
    left: 0px;
    width: 1922px;
    height: 158px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 1);
  }
  .post-contato1 {
    top: 14px;
    left: 1004px;
    width: 384px;
    height: 129px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .post-text {
    top: 49px;
    color: rgba(172, 172, 172, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Catamaran;
    font-weight: 400;
    line-height: 140.49999713897705%;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text05 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-cidade {
    top: 15px;
    left: 533px;
    width: 384px;
    height: 129px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .post-text07 {
    top: 49px;
    color: rgba(172, 172, 172, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: right;
    font-family: Catamaran;
    font-weight: 400;
    line-height: 140.49999713897705%;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text12 {
    left: 135px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: right;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text14 {
    top: 1198px;
    left: 374px;
    color: rgb(255, 255, 255);
    width: 1172px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text15 {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
  }
  .post-text16 {
    font-style: normal;
    font-weight: 300;
  }
  .post-text17 {
    font-style: normal;
    font-weight: 300;
  }
  .post-text18 {
    font-style: normal;
    font-weight: 300;
  }
  .post-text19 {
    font-size: 64px;
    font-weight: 500;
  }
  .post-text20 {
    font-style: normal;
    font-weight: 300;
  }
  .post-image1 {
    top: 517px;
    left: 316px;
    width: 1289px;
    height: 630px;
    position: absolute;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }
  .post-text23 {
    top: 419px;
    left: 596px;
    color: rgb(255, 255, 255);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: SemiBold;
    text-align: center;
    font-family: Open Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text24 {
    font-style: normal;
    font-weight: 500;
  }
  .post-text26 {
    font-weight: 300;
  }
  .post-text27 {
    top: 339px;
    left: 414px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-navbar {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 171px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7900000214576721) 0%, rgba(0, 0, 0, 0) 100%, rgba(255, 0, 0, 0) 100%);
  }
  .post-text29 {
    top: 122px;
    left: 1075px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text31 {
    top: 122px;
    left: 883px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text33 {
    top: 122px;
    left: 758px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .post-text35 {
    top: 22px;
    left: 819px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 70px;
    font-style: Regular;
    text-align: left;
    font-family: Bebas Neue;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  