/** MODIFICAÇÕES BOOTSTRAP */
.row {
    --bs-gutter-x: 0;
}

/** GERAL */
html {
    height: 100%;
    width: 100%;
}

body {
    background: #151817;
    /* background-image: linear-gradient(180deg, #20182a 0%, #182b27 100%); */
    background-repeat: no-repeat;

    position: relative;
    margin: 0;
    padding-bottom: 160px; /* altura do footer */
    min-height: 100vh;
}

.dis-txt {
    user-select: none;
}

/** NAVBAR */
.navbar {
    background: #000000;
    background: linear-gradient(180deg, #00000063 0%, #00000000 60%);   
    --bs-bg-opacity: 0;
    position: relative;
    z-index: 2;
}

.navbar h1, .navbar a {
    color: white !important;
}

.navbar a {
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    border-radius: 2px;
}

.navbar a:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: #000000 !important;
}

.navbar h1:hover {
    transition: 0.3s;
    text-shadow: 0px 10px 30px #ffffff81;
}

.navbar-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}

/** BODY - PERFIL ||*/
.image-custom {
    width: 200px;
    height: auto;
    border-radius: 292px;
}

.image-custom:hover {
    transition: 0.3s;
    text-shadow: 0px 10px 30px #ffffffd3;
}

/** BODY - SOBRE NÓS */
.abtus_image {
    height: 280px;
    top: 0;
    object-fit: cover;
    object-position: 0 70%;
    position: absolute;
    z-index: 1;
}

.div-abtus {
    position: relative;
    z-index: 1;
    top: 20px;
    border-radius: 5px;
    background: #000000;
    background: linear-gradient(180deg, #000000 0%, #0000000f 90%);
    transition: 0.2s;
}

.div-abtus:hover {
    box-shadow: 10px 10px #ffffff;
    border-radius: 0px;
}

/** BODY - POST */
.img-post {
    height: 400px;
    width: 800px;
    object-fit: cover;
    object-position: 0 70%;
    border-radius: 5px;
}

/** BODY - HOME */
.img-home {
    height: 410px;
    top: 0;
    object-fit: cover;
    object-position: 0 0%;
    position: absolute;
    z-index: 1;
}

.r-div {
    position: relative;
    z-index: 1;
    top: 170px;
    margin-bottom: 170px;
}

.c-div {
    background: linear-gradient(180deg, #2d252e 0%, #1b2220 100%);
    border-radius: 5px;
    width: 1090px;
    height: 400px;
    margin: 0;
    margin-right: auto!important;
    margin-left: auto!important;
    transition: 0.2s;
}

.c-div:hover {
    box-shadow: 0px 5px #afafaf;
    border-radius: 0px;
}

/* AUTORES */
.img-autores {
    object-fit: cover;
    border-radius: 250px;
    height: 250px;
    width: 250px;   
}

.div-autores {
    background: linear-gradient(-90deg, #171717 0%, #472363 100%);
    border-radius: 5px;
}

/** FOOTER */
.footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: #000000;
}

.footer h4 {
    color:white;
    font-weight: 400;
}

.footer p {
    color: #ACACAC;
}